{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Django Website{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>

<body>

<!-- Navbar -->
<header>

<nav class="navbar">

    <a href="{% url 'home' %}" style="text-decoration: none;" class="logo">DjangoSite</a>

    <ul class="nav-menu">

        <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>

        <li><a href="{% url 'about' %}" class="nav-link">About</a></li>

        <li><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>

    </ul>

</nav>

</header>


<!-- Page Content -->
{% block content %}

{% endblock %}


</body>
</html>